body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.cabecera {
    text-align: center;
    margin-bottom: 30px;
}

h1, h2 {
    margin: 20px 20px 20px 20px;
    color: #374f6b;
}

form {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
}

.textoLabel {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #374f6b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #838c95;
}

.button-3 {
    background-color: #374f6b;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.button-3:hover {
    background-color: #838c95;
}

.tg-wrap {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background: #374f6b;
    color: #fff;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.footer {
    position: absolute;
    top: 860px;
    background-color: #374f6b;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.footer img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.footer p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}